html, body {
    width: 100px;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .find:hover {
    background-color: #CFF2F2;
  }
  
  .find {
    background-color: #E5F2F2;
  }
